body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  background-color: rgb(32, 32, 32);
  overflow: hidden;
}

#app  {
  position: relative;
}

#video-input {
  position: absolute;
  top: 40px;
  left: 40px;
}

#video-player {
  max-width: 100%;  /* Limit the width to the screen width */
  max-height: 99vh; /* Limit the height to the screen height */
  width: auto;      /* Maintain aspect ratio */
  height: auto;     /* Maintain aspect ratio */
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-right: 1vw;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: none; /* Initially hidden */
  z-index: 20;
}

#trigger-area {
  width: 100px;
  height: 30px;
  background-color: aqua;
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu ul li {
  margin: 10px 0;
}

#menu a {
  color: #fff;
  text-decoration: none;
}

.hidden {
  display: none;
}
#trigger-area:hover + #menu {
  display: block;
}