body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  background-color: rgb(36, 36, 36);
  overflow: hidden;
}

#app  {
  position: relative;
}

#video-input {
  position: absolute;
  top: 40px;
  left: 40px;
}

#video-player {
  max-width: 100%;  /* Limit the width to the screen width */
  max-height: 99vh; /* Limit the height to the screen height */
  width: auto;      /* Maintain aspect ratio */
  height: auto;     /* Maintain aspect ratio */
  outline: none;
}
